<div class="bg-white ">
    <div class="container mx-auto py-8">
        <div>
            <p class="text-center font-bold text-4xl flex justify-center">Comment ça fonctionne ?</p>
            <div class="flex justify-center mt-4">    
                <p class="text-center w-[37.5rem] ">Louer une voiture de luxe n'a jamais été aussi simple. Notre processus simplifié vous permet de réserver et de confirmer votre véhicule en ligne en toute simplicité.</p>
            </div>            
        </div>

        <div class="flex flex-col lg:flex-row-reverse gap-4 justify-between mt-12 ">
            <div class="bg-[#F5F5F5] w-full h-[30rem] flex justify-end items-center rounded-xl">
                    <div class="mr-4" style="position:relative; width:70%; height:0px; padding-bottom:56.250%"><iframe allow="fullscreen" allowfullscreen height="100%" src="https://streamable.com/e/j5ys8l?nocontrols=1" width="100%" style="border:none; width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;"></iframe></div>

            </div>

            <div class="flex flex-col w-full space-y-5 -mr-36 z-20 mt-8">
                <div class="flex  space-x-4  border  border-opacity-90 py-5 bg-white w-full rounded-xl px-5">
                    <div class="bg-[#F5F5F5] h-full p-3 rounded-xl flex items-center">
                        <img src="../../../../assets/images/Icon-search.svg" class="w-[28px]" alt="">
                    </div>
                    <div class="flex flex-col space-y-3">
                        <p class="font-sans text-lg ">Explorez et choisissez</p>
                        <p class="font-sans">Explorez nos offres, choisissez vos dates et vos hôtes, et préparez-vous à vivre une expérience culinaire inoubliable.</p>

                    </div>
            
                </div>

                <div class="flex  space-x-4  border  border-opacity-90 py-5 bg-white w-full rounded-xl px-5">
                    <div class="bg-[#F5F5F5] h-full p-3 rounded-xl flex items-center">
                        <img src="../../../../assets/images/Calendar.svg" class="w-[28px]" alt="">
                    </div>
                    <div class="flex flex-col space-y-3">
                        <p class="font-sans text-lg ">Réservez et confirmez</p>
                        <p class="font-sans">Réservez votre expérience culinaire en quelques clics avec Yalla Bina et recevez une confirmation immédiate par e-mail.</p>
                    </div>           
                </div>

                <div class="flex  space-x-4  border  border-opacity-90 py-5 bg-white w-full rounded-xl px-5">
                    <div class="bg-[#F5F5F5] h-full p-3 rounded-xl flex items-center">
                        <img src="../../../../assets/images/imoge.svg" class="w-[28px]" alt="">
                    </div>
                    <div class="flex flex-col space-y-3">
                        <p class="font-sans text-lg ">Profitez de votre trajet</p>
                        <p class="font-sans">Découvrez les délices authentiques du Maroc dans un cadre chaleureux et convivial.</p>
                    </div>           
                </div>

            </div>
        </div>


    </div>

</div>
